In [26]:
import pandas as pd;

In [27]:
data = pd.DataFrame({
    'name': ['vishal', 'babar', 'om', 'mayur'], 
    'age':[23,33,44,22], 
    'department':['Cs', 'Chemical', 'IT', 'AI-ML']
})
data

     name  age department
0  vishal   23         Cs
1   babar   33   Chemical
2      om   44         IT
3   mayur   22      AI-ML

In [28]:
data['date'] = ['2003-12-22', '2003-12-22', '2003-12-22', '2003-12-22' ]

In [29]:
data

     name  age department        date
0  vishal   23         Cs  2003-12-22
1   babar   33   Chemical  2003-12-22
2      om   44         IT  2003-12-22
3   mayur   22      AI-ML  2003-12-22

In [30]:
data['date'].dtype

dtype('O')

In [31]:
data['date'] = pd.to_datetime(data['date'])

In [32]:
data['date'].dtype

dtype('<M8[ns]')